---
const year = new Date().getFullYear();
---

<footer class="footer footer-center p-10 bg-base-200 text-base-content">
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover" href="#terms">Terms and Conditions</a>
    <a class="link link-hover" href="#privacy">Privacy Policy</a>
    <a class="link link-hover" href="#acknowledgement"
      >Acknowledgement of Country</a
    >
  </div>
  <div>
    <p>© {year} Hopkins Creek Events Pty Ltd. All rights reserved.</p>
    <p>1939 Delacombe Way, Tatyoon VIC</p>
  </div>
</footer>
